*{
   margin: 0;
}

.grey-text
   {
    
        color: #444444;
        text-align: center;
        border: 0px solid red;
        font-size: 30px;
        margin-top: 200px;
   }

.aqua   {
      color: #2bdcf0;
      text-align: center;
      border: 0px solid red;
      font-size: 20px
   }

.img
   {
     width: 200px;
     border: 1px;
     border-radius: 100px;
     left: 42%;
     position: absolute;
     top: 10px;
   }

.div2
   { background-color: yellow;
     border: 0px solid blue;
     width: 50%;
     height:60px ;
     left: 25%;
     position: relative;
     top: 30px;
     text-align: center;
     
   }

.div3
  {  
     position: absolute ;
     top: 320px;
     width: 80px;
     height: 50px;
     left: 300px;
   }
.div4 
   { 
     position: absolute ;
     top: 324px;
     width: 45px;
     height: 46px;
     left: 620px;
     border-radius: 30px;
      
   }
.div5 
   {
     position: relative ;
     top: 320px;
     width: 80px;
     height: 50px;
     left: 400px;
     border-radius: 10px;
   
   }
